.c-radio {
  display: flex;
  position: relative;
  cursor: pointer;
  column-gap: 8px;

  .c-radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(28 31 35 / 35%);
    border-radius: 16px;
    width: 16px;
    height: 16px;
  }

  @media (any-hover: hover) {
    &:hover {
      .c-radio-inner {
        border-color: var(--c-primary-hover-color);
        background-color: rgb(48 49 57 / 5%);
      }
    }
  }

  &:active {
    .c-radio-inner {
      border-color: var(--c-primary-active-color);
      background-color: rgb(46 50 56 / 9%);
    }
  }

  .c-radio-input {
    cursor: pointer;
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0;
    margin: 0;
    width: 16px;
    height: 16px;

    &:focus-visible + .c-radio-inner {
      outline: 1px solid var(--c-primary-hover-color);
      outline-offset: 2px;
    }

    &:checked {
      + .c-radio-inner {
        color: white;
        background-color: var(--c-primary-color);
        border-color: var(--c-primary-color);
      }

      @media (any-hover: hover) {
        &:hover {
          + .c-radio-inner {
            color: white;
            background-color: var(--c-primary-hover-color);
            border-color: var(--c-primary-hover-color);
          }
        }
      }

      &:active {
        + .c-radio-inner {
          color: white;
          background-color: var(--c-primary-active-color);
          border-color: var(--c-primary-active-color);
        }
      }
    }
  }

  .c-radio-content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    user-select: none;

    &-describe {
      color: rgb(28 31 35 / 62%);
    }
  }
}
