.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--c-button-border);
  border-radius: var(--c-button-border-radius);
  padding: var(--c-button-padding);
  font-size: var(--c-button-font-size);
  font-family: var(--c-button-font-family);
  font-weight: var(--c-button-font-weight);
  height: var(--c-button-height);
  line-height: var(--c-button-line-height);

  &:focus-visible {
    outline-width: var(--c-button-focus-outline-width);
    outline-style: solid;
    outline-offset: var(--c-button-focus-outline-offset);
  }

  &-primary {
    color: var(--c-button-primary-color);
    background-color: var(--c-button-primary-bg-color);

    &:focus-visible {
      outline-color: var(--c-button-primary-focus-outline-color);
    }

    &:not(.c-button-borderless):not(.c-button-light) {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--c-button-primary-hover-bg-color);
        }
      }

      &:active {
        background-color: var(--c-button-primary-active-bg-color);
      }
    }

    &.c-button-borderless,
    &.c-button-light {
      color: var(--c-button-light-primary-color);
    }
  }

  &-secondary {
    color: var(--c-button-secondary-color);
    background-color: var(--c-button-secondary-bg-color);

    &:focus-visible {
      outline-color: var(--c-button-secondary-focus-outline-color);
    }

    &:not(.c-button-borderless):not(.c-button-light) {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--c-button-secondary-hover-bg-color);
        }
      }

      &:active {
        background-color: var(--c-button-secondary-active-bg-color);
      }
    }

    &.c-button-borderless,
    &.c-button-light {
      color: var(--c-button-light-secondary-color);
    }
  }

  &-tertiary {
    color: var(--c-button-tertiary-color);
    background-color: var(--c-button-tertiary-bg-color);

    &:focus-visible {
      outline-color: var(--c-button-tertiary-focus-outline-color);
    }

    &:not(.c-button-borderless):not(.c-button-light) {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--c-button-tertiary-hover-bg-color);
        }
      }

      &:active {
        background-color: var(--c-button-tertiary-active-bg-color);
      }
    }

    &.c-button-borderless,
    &.c-button-light {
      color: var(--c-button-light-tertiary-color);
    }
  }

  &-success {
    color: var(--c-button-success-color);
    background-color: var(--c-button-success-bg-color);

    &:focus-visible {
      outline-color: var(--c-button-success-focus-outline-color);
    }

    &:not(.c-button-borderless):not(.c-button-light) {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--c-button-success-hover-bg-color);
        }
      }

      &:active {
        background-color: var(--c-button-success-active-bg-color);
      }
    }

    &.c-button-borderless,
    &.c-button-light {
      color: var(--c-button-light-success-color);
    }
  }

  &-warning {
    color: var(--c-button-warning-color);
    background-color: var(--c-button-warning-bg-color);

    &:focus-visible {
      outline-color: var(--c-button-warning-focus-outline-color);
    }

    &:not(.c-button-borderless):not(.c-button-light) {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--c-button-warning-hover-bg-color);
        }
      }

      &:active {
        background-color: var(--c-button-warning-active-bg-color);
      }
    }

    &.c-button-borderless,
    &.c-button-light {
      color: var(--c-button-light-warning-color);
    }
  }

  &-danger {
    color: var(--c-button-danger-color);
    background-color: var(--c-button-danger-bg-color);

    &:focus-visible {
      outline-color: var(--c-button-danger-focus-outline-color);
    }

    &:not(.c-button-borderless):not(.c-button-light) {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--c-button-danger-hover-bg-color);
        }
      }

      &:active {
        background-color: var(--c-button-danger-active-bg-color);
      }
    }

    &.c-button-borderless,
    &.c-button-light {
      color: var(--c-button-light-danger-color);
    }
  }

  &-disabled {
    cursor: not-allowed;

    color: var(--c-button-disabled-color);
    background-color: var(--c-button-disabled-bg-color);

    &:not(.c-button-borderless):not(.c-button-light) {
      @media (any-hover: hover) {
        &:hover {
          color: var(--c-button-disabled-hover-color);
          background-color: var(--c-button-disabled-hover-bg-color);
        }
      }
    }

    &.c-button-light,
    &.c-button-borderless {
      color: var(--c-button-light-disabled-color);
    }
  }

  &-light {
    background-color: var(--c-button-light-bg-color);

    &:not(:disabled) {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--c-button-light-hover-bg-color);
        }
      }

      &:active {
        background-color: var(--c-button-light-active-bg-color);
      }
    }
  }

  &-borderless {
    background-color: var(--c-button-borderless-bg-color);

    &:not(:disabled) {
      @media (any-hover: hover) {
        &:hover {
          background-color: var(--c-button-borderless-hover-bg-color);
        }
      }

      &:active {
        background-color: var(--c-button-borderless-active-bg-color);
      }
    }
  }

  &-circle {
    border-radius: 50%;
  }

  &-medium {
    &.c-button-round {
      border-radius: calc(var(--c-button-height) / 2);
    }
  }

  &-large {
    height: var(--c-button-large-height);
    line-height: var(--c-button-large-line-height);
    padding: var(--c-button-large-padding);
    &.c-button-round {
      border-radius: calc(var(--c-button-large-height) / 2);
    }
  }

  &-small {
    height: var(--c-button-small-height);
    line-height: var(--c-button-small-line-height);
    padding: var(--c-button-small-padding);
    &.c-button-round {
      border-radius: calc(var(--c-button-small-height) / 2);
    }
  }

  &-block {
    width: 100%;
  }

  &.c-button-with-icon {
    display: inline-flex;
    align-items: center;

    .c-button-content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.c-button-loading {
    cursor: wait;
    opacity: var(--c-button-loading-opacity);
    .c-button-content {
      & > svg {
        width: 16px;
        height: 16px;
        animation: var(--c-button-loading-duration) linear infinite var(--c-button-loading-function);
        animation-fill-mode: forwards;
      }
    }
  }

  &.c-button-with-icon-only {
    padding: var(--c-button-icon-only-padding);

    &.c-button {
      &-small {
        padding: var(--c-button-small-icon-only-padding);
      }

      &-large {
        padding: var(--c-button-large-icon-only-padding);
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;

    &-start {
      margin-inline-end: var(--c-button-content-start-margin-inline-end);
    }

    &-end {
      margin-inline-start: var(--c-button-content-end-margin-inline-start);
    }
  }
}

.c-button-group > .c-button {
  &:first-child {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  &:last-child {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  &:not(:last-child) {
    border-inline-end: var(--c-button-group-border);
    &:not(:first-child) {
      border-radius: 0;
    }
  }
  &:not(:first-child) {
    border-inline-start: var(--c-button-group-border);
  }
}
