@use 'sass:math';

.c-grid {
  --c-grid-min-width-sm: 640px;
  --c-grid-min-width-md: 768px;
  --c-grid-min-width-lg: 1024px;
  --c-grid-min-width-xl: 1280px;
  --c-grid-min-width-xxl: 1536px;
}

.c-row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.c-col{
  position: relative;
}

.c-col-0,
.c-col-xs-0,
.c-col-sm-0,
.c-col-md-0,
.c-col-lg-0,
.c-col-xl-0,
.c-col-xxl-0 {
  display: none;
}

.c-row-start {
  justify-content: flex-start;
}

.c-row-center {
  justify-content: center;
}

.c-row-end {
  justify-content: flex-end;
}

.c-row-space-between {
  justify-content: space-between;
}

.c-row-space-around {
  justify-content: space-around;
}

.c-row-top {
  align-items: flex-start;
}

.c-row-medium {
  align-items: center;
}

.c-row-bottom {
  align-items: flex-end;
}

@for $i from 1 through 24 {
  .c-col-#{$i} {
    width: math.percentage($i / 24);
  }
  .c-col-order-#{$i} {
    order: #{$i};
  }
  .c-col-offset-#{$i} {
    margin-inline-start: math.percentage($i / 24);
  }
  .c-col-push-#{$i} {
    inset-inline-start: math.percentage($i / 24);
  }
  .c-col-pull-#{$i} {
    inset-inline-end: math.percentage($i / 24);
  }
  @media (min-width: var(--c-grid-width-sm)) {
    .c-col-sm-#{$i} {
      width: math.percentage($i / 24);
    }
    .c-col-sm-order-#{$i} {
      order: #{$i};
    }
    .c-col-sm-offset-#{$i} {
      margin-inline-start: math.percentage($i / 24);
    }
    .c-col-sm-push-#{$i} {
      inset-inline-start: math.percentage($i / 24);
    }
    .c-col-sm-pull-#{$i} {
      inset-inline-end: math.percentage($i / 24);
    }
  }

  @media (min-width: var(--c-grid-width-md)) {
    .c-col-md-#{$i} {
      width: math.percentage($i / 24);
    }
    .c-col-md-order-#{$i} {
      order: #{$i};
    }
    .c-col-md-offset-#{$i} {
      margin-inline-start: math.percentage($i / 24);
    }
    .c-col-md-push-#{$i} {
      inset-inline-start: math.percentage($i / 24);
    }
    .c-col-md-pull-#{$i} {
      inset-inline-end: math.percentage($i / 24);
    }
  }

  @media (min-width: var(--c-grid-width-lg)) {
    .c-col-lg-#{$i} {
      width: math.percentage($i / 24);
    }
    .c-col-lg-order-#{$i} {
      order: #{$i};
    }
    .c-col-lg-offset-#{$i} {
      margin-inline-start: math.percentage($i / 24);
    }
    .c-col-lg-push-#{$i} {
      inset-inline-start: math.percentage($i / 24);
    }
    .c-col-lg-pull-#{$i} {
      inset-inline-end: math.percentage($i / 24);
    }
  }

  @media (min-width: var(--c-grid-width-xl)) {
    .c-col-xl-#{$i} {
      width: math.percentage($i / 24);
    }
    .c-col-xl-order-#{$i} {
      order: #{$i};
    }
    .c-col-xl-offset-#{$i} {
      margin-inline-start: math.percentage($i / 24);
    }
    .c-col-xl-push-#{$i} {
      inset-inline-start: math.percentage($i / 24);
    }
    .c-col-xl-pull-#{$i} {
      inset-inline-end: math.percentage($i / 24);
    }
  }

  @media (min-width: var(--c-grid-width-xxl)) {
    .c-col-xxl-#{$i} {
      width: math.percentage($i / 24);
    }
    .c-col-xxl-order-#{$i} {
      order: #{$i};
    }
    .c-col-xxl-offset-#{$i} {
      margin-inline-start: math.percentage($i / 24);
    }
    .c-col-xxl-push-#{$i} {
      inset-inline-start: math.percentage($i / 24);
    }
    .c-col-xxl-pull-#{$i} {
      inset-inline-end: math.percentage($i / 24);
    }
  }
}
