.c-switch {
  box-sizing: border-box;
  display: inline-block;
  border-radius: var(--switch-border-radius);
  border: var(--switch-border-width) solid var(--switch-border-color);
  position: relative;
  cursor: pointer;
  background-color: var(--switch-bg-color);

  width: var(--switch-width);
  height: var(--switch-height);

  &:focus-visible {
    outline: var(--switch-focus-outline-width) solid var(--switch-focus-outline-color);
    outline-offset: var(--switch-focus-outline-offset);
  }

  &:hover {
    background-color: var(--switch-hover-bg-color);
  }

  &:active {
    border: var(--switch-border-width) solid var(--switch-active-border-color);

    .c-switch-knob {
      width: var(--switch-active-knob-width);
    }
  }

  &-checked {
    background-color: var(--switch-checked-bg-color);

    &:hover {
      background-color: var(--switch-hover-checked-bg-color);
    }

    &:active {
      .c-switch-knob {
        transform: var(--switch-active-checked-knob-transform);
      }
    }

    .c-switch-knob {
      transform: var(--switch-checked-knob-transform);
    }
  }

  &-disabled {
    cursor: not-allowed;
    opacity: var(--switch-disabled-opacity);
    background-color: var(--switch-bg-color);
    &.c-switch-knob {
      cursor: not-allowed;
    }
    &.c-switch-checked {
      background-color: var(--switch-checked-bg-color);
    }
  }

  &-knob {
    box-shadow: var(--switch-knob-box-shadow);
    cursor: pointer;
    border-radius: var(--switch-knob-border-radius);
    background-color: var(--switch-knob-bg-color);
    box-sizing: border-box;
    position: absolute;
    inset-inline-start: var(--switch-knob-inset-inline-start);
    inset-inline-end: auto;
    transition: transform var(--switch-knob-transition-duration) ease-in-out,
      width var(--switch-knob-transition-duration) ease-in-out;

    width: var(--switch-knob-width);
    height: var(--switch-knob-width);
    top: var(--switch-knob-top);
    transform: var(--switch-knob-transform);
  }

  &-checked-text,
  &-unchecked-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: var(--switch-text-font-size);
    height: 100%;
    width: 20px;
    top: 0;
  }

  &-checked-text {
    color: var(--switch-checked-color);
  }

  &-unchecked-text {
    color: var(--switch-unchecked-color);
    right: 0;
  }

  &-loading {
    display: inline-flex;
    align-items: center;

    cursor: wait;

    &-spin {
      .c-spin-wrapper {
        display: inline-flex;
        align-items: center;
        color: var(--switch-loading-spin-color);
        width: inherit;
        height: inherit;
      }
    }

    .c-switch-loading-spin {
      transform: var(--switch-loading-spin-transform);

      & > .c-spin-wrapper > svg {
        width: var(--switch-loading-spin-width);
        height: var(--switch-loading-spin-width);
      }
    }

    &.c-switch-checked {
      .c-switch-loading-spin {
        transform: var(--switch-loading-checked-spin-transform);
      }
    }

    &.c-switch-small {
      .c-switch-loading-spin {
        transform: var(--switch-small-loading-spin-transform);

        & > .c-spin-wrapper > svg {
          width: var(--switch-small-loading-spin-width);
          height: var(--switch-small-loading-spin-width);
        }
      }

      &.c-switch-checked {
        .c-switch-loading-spin {
          transform: var(--switch-small-loading-checked-spin-transform);
        }
      }
    }

    &.c-switch-large {
      .c-switch-loading-spin {
        transform: var(--switch-large-loading-spin-transform);

        & > .c-spin-wrapper > svg {
          width: var(--switch-large-loading-spin-width);
          height: var(--switch-large-loading-spin-width);
        }
      }

      &.c-switch-checked {
        .c-switch-loading-spin {
          transform: var(--switch-large-loading-checked-spin-transform);
        }
      }
    }
  }
}

.c-switch-large {
  width: var(--switch-large-width);
  height: var(--switch-large-height);
  border-radius: var(--switch-large-border-radius);

  .c-switch-knob {
    width: var(--switch-large-knob-width);
    height: var(--switch-large-knob-width);
    top: var(--switch-large-knob-top);
    border-radius: var(--switch-large-knob-border-radius);
    transform: var(--switch-latge-knob-transform);
  }

  &.c-switch-checked {
    .c-switch-knob {
      transform: var(--switch-large-checked-knob-transform);
    }

    &:active {
      .c-switch-knob {
        transform: var(--switch-large-active-checked-knob-transform);
      }
    }
  }

  &:active {
    .c-switch-knob {
      width: var(--switch-large-active-knob-width);
    }
  }

  .c-switch-checked-text,
  .c-switch-unchecked-text {
    width: var(--switch-large-text-width);
    font-size: var(--switch-large-font-size);
  }
}

.c-switch-small {
  width: var(--switch-small-width);
  height: var(--switch-small-height);
  border-radius: var(--switch-small-border-radius);

  .c-switch-knob {
    width: var(--switch-small-knob-width);
    height: var(--switch-small-knob-width);
    top: var(--switch-small-knob-top);
    border-radius: var(--switch-small-knob-border-radius);
    transform: var(--switch-small-knob-transform);
  }

  &.c-switch-checked {
    .c-switch-knob {
      transform: var(--switch-small-checked-knob-transform);
    }

    &:active {
      .c-switch-knob {
        transform: var(--switch-small-checked-active-knob-transform);
      }
    }
  }

  &:active {
    .c-switch-knob {
      width: var(--switch-small-active-knob-width);
    }
  }
}
