.c-switch {
  --switch-width: 40px;
  --switch-height: 24px;

  --switch-border-radius: calc(var(--switch-width) / 2);
  --switch-border-width: 1px;
  --switch-border-color: transparent;

  --switch-bg-color: rgba(46, 50, 56, 0.05);

  --switch-focus-outline-width: 2px;
  --switch-focus-outline-color: var(--c-primary-color);
  --switch-focus-outline-offset: 2px;

  --switch-hover-bg-color: rgba(46, 50, 56, 0.09);

  --switch-active-border-color: rgba(46, 50, 56, 0.13);
  --switch-active-knob-width: 24px;

  --switch-checked-bg-color: var(--c-success-color);
  --switch-checked-hover-bg-color: var(--c-success-hover-color);
  --switch-checked-knob-transform: translateX(18px);
  --switch-checked-active-knob-transform: translateX(12px);
  --switch-disabled-bg-color: transparent;
  --switch-disabled-border-color: rgba(28, 31, 35, 0.08);
  --switch-knob-disabled-border-width: 1px;
  --switch-knob-disabled-border-color: white;
  --switch-checked-disabled-knob-border-color: transparent;
  --switch-checked-disabled-knob-bg-color: #a4e0a7;
  --switch-knob-border-radius: calc(var(--switch-knob-width) / 2);
  --switch-knob-bg-color: white;
  --switch-knob-inset-inline-start: 0px;
  --switch-knob-transition-duration: 200ms;
  --switch-knob-width: 18px;
  --switch-knob-top: 2px;
  --switch-knob-transform: translateX(2px);
  --switch-text-font-size: var(--font-size-small);
  --switch-checked-color: white;
  --switch-unchecked-color: rgba(28, 31, 35, 0.62);
  --switch-loading-bg-color: rgba(46, 50, 56, 0.09);
  --switch-loading-spin-color: white;
  --switch-loading-spin-transform: translateX(2px);;
  --switch-loading-spin-width: 20px;
  --switch-loading-checked-bg-color: var(--c-success-hover-color);
  --switch-loading-checked-spin-transform: translateX(16px);
  --switch-small-loading-spin-transform: translateX(2px);
  --switch-small-loading-spin-width: 14px;
  --switch-small-checked-loading-spin-transform: translateX(10px);
  --switch-small-width: 40px;
  --switch-small-height: 24px;
  --switch-small-border-radius: calc(var(--switch-small-height) / 2);
  --switch-small-knob-width: 12px;
  --switch-small-knob-top: 1px;
  --switch-small-knob-border-radius: calc(var(--switch-small-knob-width) / 2);
  --switch-small-knob-transform: translateX(1px);
  --switch-small-checked-knob-transform: translateX(11px);
  --switch-small-checked-active-knob-transform: translateX(9px);
  --switch-large-loading-spin-transform:translateX(2px) ;
  --switch-large-spin-width: 32px;
  --switch-large-checked-loading-spin-transform: translateX(22px);
  --switch-large-width: 54px;
  --switch-large-height: 32px;
  --switch-large-border-radius: calc(var(--switch-large-knob-width) / 2);
  --switch-large-knob-width: 24px;
  --switch-large-knob-top: 3px;
  --switch-large-knob-border-radius: calc(var(--switch-large-knob-width) / 2);
  --switch-latge-knob-transform: translateX(3px);
  --switch-large-checked-knob-transform: translateX(26px);
  --switch-large-checked-active-knob-transform: translateX(16px);
  --switch-large-active-knob-width:34px;
  --switch-large-text-width: 26px;
  --switch-large-font-size: 14px;
}

.c-switch {
  box-sizing: border-box;
  display: inline-block;
  border-radius: var(--switch-border-radius);
  border: var(--switch-border-width) solid var(--switch-border-color);
  position: relative;
  cursor: pointer;
  background-color: var(--switch-bg-color);

  width: var(--switch-width);
  height: var(--switch-height);

  &:focus-visible {
    outline: var(--switch-focus-outline-width) solid var(--switch-focus-outline-color);
    outline-offset: var(--switch-focus-outline-offset);
  }

  &:hover {
    background-color: var(--switch-hover-bg-color);
  }

  &:active {
    border: var(--switch-border-width) solid var(--switch-active-border-color);

    .c-switch-knob {
      width: var(--switch-active-knob-width);
    }
  }

  &-checked {
    background-color: var(--switch-checked-bg-color);

    &:hover {
      background-color: var(--switch-checked-hover-bg-color);
    }

    &:active {
      .c-switch-knob {
        transform: var(--switch-checked-active-knob-transform);
      }
    }

    .c-switch-knob {
      transform: var(--switch-checked-knob-transform);
    }
  }

  &-disabled {
    cursor: not-allowed;
    background-color: var(--switch-disabled-bg-color);
    border: var(--switch-border-width) solid var(--switch-disabled-border-color);

    .c-switch-knob {
      cursor: not-allowed;
      border: var(--switch-knob-disabled-border-width) solid
        var(--switch-knob-disabled-border-color);
    }

    &.c-switch-checked {
      border-color: var(--switch-checked-disabled-knob-border-color);
      background-color: var(--switch-checked-disabled-knob-bg-color);

      .c-switch-knob {
        border: none;
      }
    }
  }

  &-knob {
    box-shadow: 0 4px 6px #0000001a, 0 0 1px #0000004d;
    cursor: pointer;
    border-radius: var(--switch-knob-border-radius);
    background-color: var(--switch-knob-bg-color);
    box-sizing: border-box;
    position: absolute;
    inset-inline-start: var(--switch-knob-inset-inline-start);
    inset-inline-end: auto;
    transition: transform var(--switch-knob-transition-duration) ease-in-out,
      width var(--switch-knob-transition-duration) ease-in-out;

    width: var(--switch-knob-width);
    height: var(--switch-knob-width);
    top: var(--switch-knob-top);
    transform: var(--switch-knob-transform);
  }

  &-checked-text,
  &-unchecked-text {
    position: absolute;
    font-size: var(--switch-text-font-size);
    height: 100%;
    width: 20px;
  }

  &-checked-text {
    color: var(--switch-checked-color);
  }

  &-unchecked-text {
    color: var(--switch-unchecked-color);
    right: 0;
  }

  &-loading {
    display: inline-flex;
    align-items: center;
    background-color: var(--switch-loading-bg-color);

    &-spin {
      .c-spin-wrapper {
        display: inline-flex;
        align-items: center;
        color: var(--switch-loading-spin-color);
      }
    }
  }
}

.c-switch-loading {
  .c-switch-loading-spin {
    transform: var(--switch-loading-spin-transform);

    & > .c-spin-wrapper > svg {
      width: var(--switch-loading-spin-width);
      height: var(--switch-loading-spin-width);
    }
  }

  &.c-switch-checked {
    background-color: var(--switch-loading-checked-bg-color);

    .c-switch-loading-spin {
      transform: var(--switch-checked-loading-spin-transform);
    }
  }

  &.c-switch-small {
    .c-switch-loading-spin {
      transform: var(--switch-small-loading-spin-transform);

      & > .c-spin-wrapper > svg {
        width: var(--switch-small-loading-spin-width);
        height: var(--switch-small-loading-spin-width);
      }
    }

    &.c-switch-checked {
      .c-switch-loading-spin {
        transform: var(--switch-small-checked-loading-spin-transform);
      }
    }
  }

  &.c-switch-large {
    .c-switch-loading-spin {
      transform: var(--switch-large-loading-spin-transform);

      & > .c-spin-wrapper > svg {
        width: var(--switch-large-spin-width);
        height: var(--switch-large-spin-width);
      }
    }

    &.c-switch-checked {
      .c-switch-loading-spin {
        transform: var(--switch-large-checked-loading-spin-transform);
      }
    }
  }
}

.c-switch-large {
  width: var(--switch-large-width);
  height: var(--switch-large-height);
  border-radius: var(--switch-large-border-radius);

  .c-switch-knob {
    width: var(--switch-large-knob-width);
    height: var(--switch-large-knob-width);
    top: var(--switch-large-knob-top);
    border-radius: var(--switch-large-knob-border-radius);
    transform: var(--switch-latge-knob-transform);
  }

  &.c-switch-checked {
    .c-switch-knob {
      transform: var(--switch-large-checked-knob-transform);
    }

    &:active {
      .c-switch-knob {
        transform: var(--switch-large-checked-active-knob-transform);
      }
    }
  }

  &:active {
    .c-switch-knob {
      width: var(--switch-large-active-knob-width);
    }
  }

  .c-switch-checked-text,
  .c-switch-unchecked-text {
    width: var(--switch-large-text-width);
    font-size: var(--switch-large-font-size);
  }
}

.c-switch-small {
  width: var(--switch-small-width);
  height: var(--switch-small-height);
  border-radius: var(--switch-small-border-radius);

  .c-switch-knob {
    width: var(--switch-small-knob-width);
    height: var(--switch-small-knob-width);
    top: var(--switch-small-knob-top);
    border-radius: var(--switch-small-knob-border-radius);
    transform: var(--switch-small-knob-transform);
  }

  &.c-switch-checked {
    .c-switch-knob {
      transform: var(--switch-small-checked-knob-transform);
    }

    &:active {
      .c-switch-knob {
        transform: var(--switch-small-checked-active-knob-transform);
      }
    }
  }

  &:active {
    .c-switch-knob {
      width: var(--switch-small-active-knob-width);
    }
  }
}
