.divider {
  box-sizing: border-box;
  margin: var(--divider-margin);
  color: var(--divider-color);

  &-dashed {
    border-bottom-style: dashed;
    &::before,
    &::after {
      border-bottom: var(--divider-line-border-width) dashed var(--divider-line-border-color);
    }
  }

  &-horizontal {
    display: flex;
    width: 100%;
    border-bottom: var(--divider-border-width) solid var(--divider-border-color);
  }

  &-vertical {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 0;
    margin: 0;
    border-left: var(--divider-line-border-width) solid var(--divider-line-border-color);
    height: var(--divider-vertical-height);
  }

  &-with-text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-bottom: 0;

    .divider-text {
      display: inline-block;
      padding: var(--divider-text-padding);
      font-weight: var(--divider-text-font-weight);
      font-size: var(--divider-text-font-size);
    }

    &::before,
    &::after {
      content: '';
      width: 50%;
      border-bottom: var(--divider-line-border-width) solid var(--divider-line-border-color);
    }

    &-left {
      &::before {
        width: var(--divider-left-line-width);
      }

      &::after {
        flex: 1;
      }
    }

    &-right {
      &::before {
        flex: 1;
      }

      &::after {
        width: var(--divider-right-line-width);
      }
    }
  }
}
