.c-divider {
  box-sizing: border-box;
  margin: var(--c-divider-margin);
  color: var(--c-divider-color);

  &-dashed {
    border-bottom-style: dashed;

    &::before,
    &::after {
      border-bottom: var(--c-divider-line-border-width) dashed var(--c-divider-line-border-color);
    }
  }

  &-horizontal {
    display: flex;
    width: 100%;
    border-bottom: var(--c-divider-border-width) solid var(--c-divider-border-color);
  }

  &-vertical {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 0;
    margin: 0;
    border-inline-start: var(--c-divider-line-border-width) solid var(--c-divider-line-border-color);
    height: var(--c-divider-vertical-height);
  }

  &-with-text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-bottom: 0;

    .c-divider-text {
      display: inline-block;
      padding: var(--c-divider-text-padding);
      font-weight: var(--c-divider-text-font-weight);
      font-size: var(--c-divider-text-font-size);
    }

    &::before,
    &::after {
      content: '';
      width: 50%;
      border-bottom: var(--c-divider-line-border-width) solid var(--c-divider-line-border-color);
    }

    &-start {
      &::before {
        width: var(--c-divider-start-line-width);
      }

      &::after {
        flex: 1;
      }
    }

    &-end {
      &::before {
        flex: 1;
      }

      &::after {
        width: var(--c-divider-end-line-width);
      }
    }
  }
}
