.c-alert {
  //--c-alert-padding: ;
  //--c-alert-border-radius: ;
  //--c-alert-title-description-margin-top: ;
  //--c-alert-close-margin-left: ;
  //--c-alert-close-height: ;
  //--c-alert-close-width: ;
  //--c-alert-extra-margin-top: ;

  --c-alert-info-bg-color: var(--light-primary-color);
}

.c-alert {
  padding: var(--c-alert-padding);

  &-content-wrapper {
    display: flex;
    flex-direction: row;
  }

  &-description {
    margin: 0;
  }

  .c-alert-content-wrapper {
    .c-alert-content {
      display: flex;
      flex: 1;
      align-items: start;
    }
  }

  &-in-container {
    border-radius: var(--c-alert-border-radius);

    .c-alert-content-wrapper {
      .c-alert-content {
        &-body {
          flex: 1;

          .c-alert-title + .c-alert-description {
            margin-top: var(--c-alert-title-description-margin-top);
          }
        }
      }
    }
  }

  &-fullscreen {
    .c-alert-content-wrapper {
      .c-alert-content {
        justify-content: center;
      }
      .c-alert-icon,
      .c-alert-content-body {
        display: flex;
        align-items: center;
      }
    }
  }

  &-close {
    margin-left: var(--c-alert-close-margin-left);
    height: var(--c-alert-close-height);
    width: var(--c-alert-close-width);
  }

  &-extra {
    margin-top: var(--c-alert-extra-margin-top);
  }

  &-icon {
    display: flex;
    margin-right: var(--c-alert-icon-margin-right);
  }

  &-info {
    background-color: var(--c-alert-info-bg-color);
    color: var(--c-alert-info-color);

    &.c-alert-bordered {
      border: var(--c-alert-border-width) solid var(--c-alert-info-border-color);
    }
  }

  &-warning {
    background-color: var(--c-alert-warning-bg-color);
    color: var(--c-alert-warning-color);

    &.c-alert-bordered {
      border: var(--c-alert-border-width) solid var(--c-alert-warning-border-color);
    }
  }

  &-success {
    background-color: var(--c-alert-success-bg-color);
    color: var(--c-alert-success-color);

    &.c-alert-bordered {
      border: var(--c-alert-border-width) solid var(--c-alert-success-border-color);
    }
  }

  &-danger {
    background-color: var(--c-alert-daner-bg-color);
    color: var(--c-alert-daner-color);

    &.c-alert-bordered {
      border: var(--c-alert-border-width) solid var(--c-alert-daner-border-color);
    }
  }
}
