.alert {
  --alert-padding: ;
  --alert-border-radius: ;
  --alert-title-description-margin-top: ;
  --alert-close-margin-left: ;
  --alert-close-height: ;
  --alert-close-width: ;
  --alert-extra-margin-top: ;

  --alert-info-bg-color: var(--light-primary-color);
}

.alert {
  padding: var(--alert-padding);

  &-content-wrapper {
    display: flex;
    flex-direction: row;
  }

  &-description {
    margin: 0;
  }

  .alert-content-wrapper {
    .alert-content {
      display: flex;
      flex: 1;
      align-items: top;
    }
  }

  &-in-container {
    border-radius: var(--alert-border-radius);

    .alert-content-wrapper {
      .alert-content {
        &-body {
          flex: 1;

          .alert-title + .alert-description {
            margin-top: var(--alert-title-description-margin-top);
          }
        }
      }
    }
  }

  &-full {
    .alert-content-wrapper {
      .alert-content {
        justify-content: center;
      }
      .alert-icon,
      .alert-content-body {
        display: flex;
        align-items: center;
      }
    }
  }

  &-close {
    margin-left: var(--alert-close-margin-left);
    height: var(--alert-close-height);
    width: var(--alert-close-width);
  }

  &-extra {
    margin-top: var(--alert-extra-margin-top);
  }

  &-icon {
    display: flex;
    margin-right: var(--alert-icon-margin-right);
  }

  &-info {
    background-color: var(--alert-info-bg-color);
    color: var(--alert-info-color);

    &.alert-bordered {
      border: var(--alert-border-width) solid var(--alert-info-border-color);
    }
  }

  &-warning {
    background-color: var(--alert-warning-bg-color);
    color: var(--alert-warning-color);

    &.alert-bordered {
      border: var(--alert-border-width) solid var(--alert-warning-border-color);
    }
  }

  &-success {
    background-color: var(--alert-success-bg-color);
    color: var(--alert-success-color);

    &.alert-bordered {
      border: var(--alert-border-width) solid var(--alert-success-border-color);
    }
  }

  &-danger {
    background-color: var(--alert-daner-bg-color);
    color: var(--alert-daner-color);

    &.alert-bordered {
      border: var(--alert-border-width) solid var(--alert-daner-border-color);
    }
  }
}
