.c-spin {
  cursor: wait;
  position: relative;
  display: inline-block;

  height: auto;
  width: auto;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &-wrapper {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    color: var(--c-spin-bg-color);

    & > svg {
      animation: var(--c-spin-wrapper-animation-duration) linear infinite
        var(--c-spin-animation-function);
      animation-fill-mode: forwards;

      width: var(--c-spin-medium);
      height: var(--c-spin-medium);
    }
  }

  &-indicator {
    display: inline-flex;
    animation: var(--c-spin-indicator-animation-duration) linear infinite
      var(--c-spin-animation-function);
    animation-fill-mode: forwards;
  }

  &-child {
    opacity: var(--c-spin-child-opacity);
    user-select: none;
  }

  &-hidden {
    &::after {
      content: none;
    }

    & > .c-spin-child {
      opacity: 1;
      user-select: auto;
    }
  }
}

.c-spin-small {
  & > .c-spin-wrapper svg {
    width: var(--c-spin-small);
    height: var(--c-spin-small);
  }
}

.c-spin-medium {
  & > .c-spin-wrapper svg {
    width: var(--c-spin-medium);
    height: var(--c-spin-medium);
  }
}

.c-spin-large {
  & > .c-spin-wrapper svg {
    width: var(--c-spin-large);
    height: var(--c-spin-large);
  }
}
